{% set ftype = field.type if field is mapping else 'text' %}
{% set fvalue = field.value if field is mapping else field %}
{% set foptions = field.options if field is mapping else '' %}
<div class="form-group {{ ftype }}" id="row-{{ key }}" data-type="{{ ftype }}" data-options="{{ foptions }}">
    <label ondblclick="editFieldRow('{{ key }}')">{{ key }}</label>
    {% if ftype in ['text','number','password','date','email','url','color'] %}
        <input type="{{ ftype }}" class="text-input" id="{{ key }}" value="{{ fvalue }}">
    {% elif ftype in ['textarea','ckeditor'] %}
        <textarea class="text-input {{ 'ckeditor' if ftype == 'ckeditor' else '' }}" id="{{ key }}" rows="3">{{ fvalue }}</textarea>
    {% elif ftype in ['select','multiselect'] %}
        <select id="{{ key }}" {{ 'multiple' if ftype == 'multiselect' else '' }}>
            {% for opt in foptions.split(',') if opt %}
                <option value="{{ opt }}" {{ 'selected' if opt == fvalue else '' }}>{{ opt }}</option>
            {% endfor %}
        </select>
    {% elif ftype == 'checkbox' %}
        {% set checked_vals = fvalue.split(',') | map('trim') | list if fvalue else [] %}
        <div class="option-group" id="{{ key }}">
            {% for opt in foptions.split(',') | map('trim') if opt %}
                <label class="option-item"><input type="checkbox" name="{{ key }}" value="{{ opt }}" {{ 'checked' if opt in checked_vals else '' }}> {{ opt }}</label>
            {% endfor %}
        </div>
    {% elif ftype == 'radio' %}
        <div class="option-group" id="{{ key }}">
            {% for opt in foptions.split(',') | map('trim') if opt %}
                <label class="option-item"><input type="radio" name="{{ key }}" value="{{ opt }}" {{ 'checked' if opt == fvalue else '' }}> {{ opt }}</label>
            {% endfor %}
        </div>
    {% elif ftype == 'link' %}
        {% set url, target = (foptions.split('|') + [''])[:2] %}
        <input type="text" class="text-input link-text" id="{{ key }}" placeholder="Link text" value="{{ fvalue }}">
        <input type="url" class="text-input link-url" placeholder="URL" value="{{ url }}">
        <select class="link-target">
            <option value="_self" {{ 'selected' if target != '_blank' else '' }}>Same tab (_self)</option>
            <option value="_blank" {{ 'selected' if target == '_blank' else '' }}>New tab (_blank)</option>
        </select>
    {% elif ftype in ['image', 'file'] %}
        <input type="hidden" id="{{ key }}" value="{{ fvalue }}">
        <input type="file" id="upload-input-{{ key }}" class="upload-file-input"
               {{ 'accept="image/*"' if ftype == 'image' else '' }}
               onchange="handleFileUpload(event, '{{ key }}', {{ 'true' if ftype == 'image' else 'false' }})">
        <button type="button" class="btn btn-sm upload-select-btn" id="select-{{ key }}"
                style="{{ 'display:none;' if fvalue else '' }}"
                onclick="document.getElementById('upload-input-{{ key }}').click()">Select</button>
        <div class="upload-preview" id="upload-preview-{{ key }}" style="{{ '' if fvalue else 'display:none;' }}">
            {% if ftype == 'image' %}
                <img id="preview-{{ key }}" class="preview-img" src="{{ fvalue }}">
            {% else %}
                <a id="preview-{{ key }}" href="{{ fvalue }}" target="_blank">Download</a>
            {% endif %}
            <span class="remove-upload-btn" title="Remove" onclick="removeUploadedFile('{{ key }}')">&#215;</span>
        </div>
    {% elif ftype == 'hidden' %}
        <input type="hidden" id="{{ key }}" value="{{ fvalue }}">
    {% else %}
        <input type="text" class="text-input" id="{{ key }}" value="{{ fvalue }}">
    {% endif %}
</div>
